*{
    background-color: black;
}
img{
    height: 50%;
    width: 100%;
    background-color: white;
    border: 5px solid white;
    
}
h1{
    color: aliceblue;
    font-family: "Libre Baskerville", cursive;
    text-align: center;
}
p{
    color: aliceblue;
    font-family: "Libre Baskerville", cursive;
    text-align: center;
    font-size: 12px;
}
div{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
  text-transform: uppercase;
}